.bullet {
    background-image: url("../../assets/img/Techbullet.gif");
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.bg{
    background-color: rgba(0, 0, 0, 0.704);
    padding: 50px;
    border-radius: 16px;
}

