.fs-54 {
    font-size: 54pt;
}

.fs-18 {
    font-size: 18pt;
}

.bg-tema{
    background-color: black;
    background-image: url(../../assets/img/Cybercity.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 60vh  ;
    /* 1075px 325px */
}
