#img-bg {
    background-image: url(https://images5.alphacoders.com/532/thumb-1920-532559.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    -moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
}